* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'reselu', Arial, sans-serif;
    background: #FFFDF4;
    background-image: url(Images/bg2.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
}

@font-face {
    font-family: 'Marvelous';
    src: url('fonts/Marvelous-Semi-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'reselu';
    src: url('fonts/Reselu-R9q36.ttf') format('truetype');
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #FFF8CF;
    background-image: url('Images/texture535RUPIAH.png');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: solid #ff7200;
    z-index: 1000;
    border-image: url('Images/texture535RUPIAH.png');
}


.logo {
    width: 120px;
    margin-bottom: 0;
}

.navbar a {
    color: #ff7200;
    text-decoration: none;
    margin: 0 20px;
    text-shadow: 1px 1px 0 #a1561d;
    font-family: 'reselu', Arial, Helvetica, sans-serif;
}

/* Bagian Tengah */
main {
    padding: 20px;
    justify-content: center;
}

/* Section: About */
.about-section {
    opacity: 0;
    transition: opacity 1s ease-in;
    margin-bottom: 20px;
}

.about-section h1 {
    font-family: 'reselu', Arial, sans-serif;
    color: #ff7200;
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
}

/* Section: Penyuka Rupiah */
.fans-section {
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.fans-logo {
    width: 90px;
    display: block;
    margin: 0 auto 20px;
    margin-left: 5px;
}

.fans-section h2 {
    font-family: 'reselu', Arial, sans-serif;
    color: #ff7200;
    font-size: 1.8rem;
    margin: 20px 0 10px;
}

/* Galeri Foto Horizontal */
.photo-gallery {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.photo-gallery img {
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    background-color: #FFF8CF;
    background-image: url('Images/texture535RUPIAH.png');
    color: #ff7c1a;
    text-align: center;
    padding: 15px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid #ff7200;
    border-image: url('Images/texture535RUPIAH.png');
    margin-bottom: 0px;
}

footer span {
    margin-right: 10px;
    font-size: 16px;
}

.sosmedlogo {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
}

.admin {
    bottom: 15px;
    right: 15px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.admin-button {
    width: 30px;
}

.admin:hover {
    color: #ffffff;
    border-radius: 50%;
    transform: scale(1.05);

}

/* Media Query for Mobile */
@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        height: 100px;
    }

    .logo {
        width: 100px;
    }

    .navbar {
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 800px) {
    header {
        padding: 0 40px;
    }

    .logo {
        margin-left: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .navbar {
        margin-right: 30px;
    }
}
